TF_VAR_POSTGRES_USER=postgres
TF_VAR_POSTGRES_PASSWORD=password
TF_VAR_POSTGRES_DB=edr
TF_VAR_POSTGRES_HOST=localhost

OTEL_SERVICE_NAME=awo

# Ontology mappings for AWO
PYGEOAPI_ONTOLOGY_GRAPH=${PWD}/pygeoapi-deployment/ontology.ttl
PYGEOAPI_ONTOLOGY_DEFAULT_PREFIX="http://lincolninst.edu/cgs/vocabularies/asu/awo#"
PYGEOAPI_ONTOLOGY_CONCEPT_SCHEME=:conceptScheme_7a2617b0
