/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

.accordions {
  width: 100%;
  max-height: calc(100vh - 220px);
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 1px solid var(--asu-color-tertiary);
}

.accordionContent {
  padding: calc(var(--default-spacing) * 2);
  border-bottom: 0.5rem solid var(--asu-color-secondary);
}

.accordionBody {
  overflow-y: auto;
}

.actionIconRoot {
  margin-left: calc(var(--default-spacing) / 2);
  margin-right: calc(var(--default-spacing) / 2);
  padding: 1px;
}

.actionIcon {
  stroke: var(--asu-gray-1);
  fill: var(--asu-gray-1);
}

.actionIcon > svg {
  width: 100%;
  height: auto;
}

.actionIcon:hover:not(:disabled),
.actionIcon:focus:not(:disabled),
.actionIcon:active:not(:disabled) {
  stroke: var(--asu-gray-2);
  fill: var(--asu-gray-2);
}

.datasetsBody {
  overflow-x: hidden;
}

.datePicker {
  width: calc(50% - var(--default-spacing));
}

.deleteLocationsItem {
  color: var(--error);
  fill: var(--error);
  stroke: var(--error);
}

.gradientContainer {
  width: 100%;
  margin: 0 auto;
}

.gradient {
  width: 100%;
  height: 34px;
  border: 1px solid #000;
}

.gradientLabelContainer {
  display: flex;
  justify-content: space-between;
}

.hasLayers:not(:disabled) {
  background: var(--asu-green);
}

.headerWrapper {
  padding: var(--default-spacing);
  background: var(--mantine-color-body);
  z-index: 200; /* Accordion icons will show over */
}

.fallbackWrapper {
  padding: calc(var(--default-spacing) * 4);
}

.indicator {
  background: var(--asu-green);
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 3px;
}

.layerInput {
  width: calc(50% - var(--default-spacing));
}

.mobileClose {
  position: absolute;
  right: var(--default-spacing);
  top: var(--default-spacing);
  margin-left: unset;
  margin-right: unset;
  display: none;
}

.mobileOpen {
  position: absolute;
  left: var(--default-spacing);
  top: var(--default-spacing);
  margin-left: unset;
  margin-right: unset;
  display: none;
  z-index: 1;
}

.panelBody {
  flex-grow: 0;

  overflow: hidden;
}

.panelCollapse {
  width: 100%;
}

.panelContent {
  z-index: 199;
}

.panelClosed {
  width: 0px;
  max-width: 0px;
}

.panelGroup {
  height: inherit;
  width: 100%;
}

.panelOpen {
  width: 25rem;
}

.panelWrapper {
  height: 100%;
  max-height: 100%;

  overflow: hidden;
}

.subDropdown {
  max-height: 95vh;
  overflow-y: auto;
}

.tabsList {
  position: sticky;
  top: 0;
  background: var(--mantine-color-body);
  z-index: 200; /* Accordion icons will show over */
}

.title {
  text-align: center;
}

.toggleButton {
  height: inherit;
  width: 22px;
}

.toggleButton svg {
  width: 20px;
  height: 20px;
}

.toggleClosed svg {
  transform: rotateY(180deg);
}

@media screen and (max-width: 899px) {
  .mobileClose,
  .mobileOpen {
    display: block;
  }

  .toggleButton {
    display: none;
  }

  .panelOpen {
    width: 100%;
  }

  .panelClosed {
    width: 100%;
    max-width: unset;
  }

  .panelContent {
    position: absolute;
    height: 90vh;
    min-height: 90vh;
    max-height: 90vh;
    width: 95vw;
    min-width: 95vw;
    max-width: 95vw;
    top: 5vh;
    left: 2.5vw;
    margin: auto;
    padding: 16px;
    background: white;

    border-radius: 4px;
  }

  .panelWrapper {
    height: unset;
    max-height: unset;
  }
}
