/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

.headerWrapper {
  padding: var(--default-spacing);
}

.title {
  text-align: center;
}

.panelWrapper {
  height: 100%;
  max-height: 100%;

  overflow: hidden;
}

.panelCollapse {
  width: 100%;
}

.panelOpen {
  width: 400px;
}

.panelClosed {
  width: 0px;
  max-width: 0px;
}

.panelBody {
  flex-grow: 0;

  overflow: hidden;
}

.panelGroup {
  height: inherit;
  width: 100%;
}

.accordions {
  overflow-x: hidden;
}

.accordionContent {
  padding: calc(var(--default-spacing) * 2);
  border-bottom: 0.5rem solid var(--asu-color-secondary);
}

.accordionBody {
  overflow-y: auto;
}

.toggleButton {
  height: inherit;
  width: 22px;
}

.toggleButton svg {
  width: 20px;
  height: 20px;
}

.toggleClosed svg {
  transform: rotateY(180deg);
}

.fallbackWrapper {
  padding: calc(var(--default-spacing) * 4);
}

.logo {
  width: 150px;
  height: 50px; /* TODO: height auto */
  background-color: pink; /* REMOVE AFTER WE GET THE LOGO */
}

.actionIcon {
  margin-left: var(--default-spacing);
  margin-right: var(--default-spacing);
  stroke: var(--asu-gray-2);
}

.actionIcon:hover,
.actionIcon:focus,
.actionIcon:active {
  stroke: var(--asu-gray-3);
}

.datasetsBody {
  overflow-x: hidden;
}

.layerInput {
  width: calc(50% - var(--default-spacing));
}

.datePicker {
  width: calc(50% - var(--default-spacing));
}

@media screen and (max-width: 899px) {
  .toggleButton {
    display: none;
  }

  .panelOpen {
    width: 100%;
  }

  .panelClosed {
    width: 100%;
    max-width: unset;
  }

  .panelWrapper {
    height: unset;
    max-height: unset;
    min-width: 100%;
  }
}
