/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

.basemapWrapper {
  width: 300px;
  --grid-gutter: calc(var(--default-spacing) * 2);
}

.basemapSelector {
  cursor: pointer;
  padding: var(--default-spacing);
}

.capitalize {
  text-transform: capitalize;
}

.colorPicker {
  width: 8.4375rem;
}

.container {
  min-width: 15.625rem;
}

.drawButton {
  width: 5.9375rem;
}

.drawContainer {
  min-width: 22rem;
  max-width: 22rem;
}

.dateSelectorContainer {
  width: 15.625rem;
}

.dateSelectorButton {
  position: absolute;
  z-index: 1;
  margin-top: var(--default-spacing);
  left: var(--default-spacing);
}

.hiddenLegend {
  display: block;
  width: 19.875rem;
  background-color: var(--mantine-color-body);
  padding: var(--default-spacing);

  .wrapper {
    max-width: unset;
  }
}

/* Manual padding to handle component overflow issues */
.legendContent {
  padding: unset;
}

.legendWrapper {
  width: 21.875rem;
}

.legendWrapper > * {
  padding-left: var(--default-spacing);
  padding-right: calc(var(--default-spacing) * 2);
}

.legendEntry {
  margin-top: var(--default-spacing);
  margin-bottom: var(--default-spacing);
}

.legendContrast {
  padding: 4px;
  background: var(--mantine-color-gray-4);
}

.legendContainer {
  max-height: calc(100vh - 9.6875rem);
  overflow-y: auto;
}

.legendTitle {
  margin-top: var(--default-spacing);
}

.screenshotLoaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100px;
}

.screenshotWrapper {
  max-width: 12.5rem;
}

.warningBody {
  width: 100%;
  padding: calc(var(--default-spacing) * 2);
}

.geocoderWrapper {
  > div {
    width: 100%;

    font-family: inherit;
    font-size: 0.9375rem;
    height: var(--input-height);
    border: calc(0.0625rem * var(--mantine-scale)) solid var(--input-border);
    border-radius: unset;
    box-shadow: 0px 2px 2px #00000040;
    line-height: 1.25rem;

    > input {
      height: 2.25rem;
      padding: 0.375rem 2.1875rem;
    }

    > svg {
      top: 0.5rem;
      left: 0.4375rem;
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.mobileWrapper {
  position: absolute;
  right: var(--default-spacing);
  top: var(--default-spacing);
  width: 84px;
  display: none;
}

.row {
  flex-direction: row;
  gap: var(--default-spacing);
}

.column {
  flex-direction: column;
  gap: var(--default-spacing);
}

@media screen and (max-width: 899px) {
  .mobileWrapper {
    display: block;
  }

  .geocoderWrapper {
    min-width: calc(100vw - (var(--default-spacing) * 2));
  }
}
