/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

.container {
  min-width: 250px;
}

.drawButton {
  width: 95px;
}

.capitalize {
  text-transform: capitalize;
}

.basemapWrapper {
  width: 300px;
  --grid-gutter: calc(var(--default-spacing) * 2);
}

.colorPicker {
  width: 135px;
}

.basemapSelector {
  cursor: pointer;
  padding: var(--default-spacing);
}

/* Manual padding to handle component overflow issues */
.legendContent {
  padding: unset;
}

.legendWrapper {
  width: 340px;
}

.legendWrapper > * {
  padding-left: var(--default-spacing);
  padding-right: calc(var(--default-spacing) * 2);
}

.legendEntry {
  margin-top: var(--default-spacing);
  margin-bottom: var(--default-spacing);
}

.legendContrast {
  padding: 4px;
  background: var(--mantine-color-gray-4);
}

.legendContainer {
  max-height: calc(100vh - 155px);
  overflow-y: auto;
}

.legendTitle {
  margin-top: var(--default-spacing);
}

.warningBody {
  width: 100%;
  padding: calc(var(--default-spacing) * 2);
}

.geocoderWrapper > div {
  width: 100%;

  font-family: inherit;
  height: var(--input-height);
  border: calc(0.0625rem * var(--mantine-scale)) solid var(--input-border);
  border-radius: unset;
  box-shadow: 0px 2px 2px #00000040;
}
