/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

.basemapWrapper {
  width: 300px;
  --grid-gutter: calc(var(--default-spacing) * 2);
}

.basemapSelector {
  cursor: pointer;
  padding: var(--default-spacing);
}

.capitalize {
  text-transform: capitalize;
}

.colorPicker {
  width: 135px;
}

.container {
  min-width: 250px;
}

.drawButton {
  width: 95px;
}

.dateSelectorContainer {
  width: 250px;
}

.dateSelectorButton {
  position: absolute;
  z-index: 1;
  margin-top: var(--default-spacing);
  left: var(--default-spacing);
}

/* Manual padding to handle component overflow issues */
.legendContent {
  padding: unset;
}

.legendWrapper {
  width: 350px;
}

.legendWrapper > * {
  padding-left: var(--default-spacing);
  padding-right: calc(var(--default-spacing) * 2);
}

.legendEntry {
  margin-top: var(--default-spacing);
  margin-bottom: var(--default-spacing);
}

.legendContrast {
  padding: 4px;
  background: var(--mantine-color-gray-4);
}

.legendContainer {
  max-height: calc(100vh - 155px);
  overflow-y: auto;
}

.legendTitle {
  margin-top: var(--default-spacing);
}

.warningBody {
  width: 100%;
  padding: calc(var(--default-spacing) * 2);
}

.geocoderWrapper {
  > div {
    width: 100%;

    font-family: inherit;
    font-size: 0.9375rem;
    height: var(--input-height);
    border: calc(0.0625rem * var(--mantine-scale)) solid var(--input-border);
    border-radius: unset;
    box-shadow: 0px 2px 2px #00000040;
    line-height: 1.25rem;

    > input {
      height: 2.25rem;
      padding: 0.375rem 2.1875rem;
    }

    > svg {
      top: 0.5rem;
      left: 0.4375rem;
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}

.mobileWrapper {
  position: absolute;
  right: var(--default-spacing);
  top: var(--default-spacing);
  width: 84px;
  display: none;
}

@media screen and (max-width: 899px) {
  .mobileWrapper {
    display: block;
  }

  .geocoderWrapper {
    min-width: calc(100vw - (var(--default-spacing) * 2));
  }
}
