/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

.content {
  background: transparent;
  box-shadow: unset;
  border-radius: 0;
  width: fit-content;
  height: 100%;
  min-width: 200px;
  padding: var(--default-spacing);
  overflow: hidden;
}

.closeButton {
  display: block;
  margin-left: auto;
  margin-bottom: var(--default-spacing);
}

.modalBody {
  background: var(--mantine-color-body);
  overflow-y: auto;
  max-height: calc(100% - 22px); /* Account for height of close button */
}
