/**
 * Copyright 2026 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

div.body {
  height: calc(100vh - 8.75rem);
  padding: 0;
}

.miniMapWrapper {
  width: 100%;
  height: 30%;
}

.panelWrapper {
  height: 100%;
}
