/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

.topBarWrapper {
  padding: var(--default-spacing);
  border-bottom: 1px solid var(--border);
}

.modalBody {
  width: 100%;
  padding: calc(var(--default-spacing) * 2);
}

.tabs {
  width: 100%;
}

.accordionBody {
  background-color: var(--mantine-color-gray-1);
}

.glossaryWrapper {
  width: calc(100% - 50px);
}

.toolTip {
  width: 30em;
}

.helpTitle {
  width: 100%;
  text-align: left;
}

.helpTitle > svg {
  width: 18px;
  height: auto;
}

.link {
  display: block;
  width: fit-content;
}

.propertiesButton {
  width: 90px;
}

.noParameterMessage {
  padding: var(--default-spacing);
}

.linksChart {
  width: 100%;
}

.locationBlockWrapper {
  padding: var(--default-spacing);
}

.locationWrapper {
  margin: var(--default-spacing);
  padding: var(--default-spacing);
}

.highlightLocation {
  border: 4px solid var(--asu-color-selected);
}

.copyInputWrapper {
  width: 100%;
  min-height: 60px;
}

.copyInput {
  width: inherit;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.propertyColumn {
  width: fit-content;
}

.valueColumn {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.downloadDropdown {
  border: unset;
  padding: 0;
}

.downloadContent {
  border: 5px solid var(--asu-color-tertiary);
  padding: var(--default-spacing);
  border-radius: var(--popover-radius, var(--mantine-radius-default));
}
