/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

.item {
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-left: 0.5rem solid;
}

.control {
  height: -webkit-fill-available;
  background: var(--mantine-color-body);
  padding-inline-end: 0;
}

.label {
  padding-top: 8px;
  padding-bottom: 8px;
}

.panel {
  border-right: 1px solid var(--border);
}

.content {
  border-top: 1px solid var(--border);

  padding: 0;
}

.chevron {
  width: 20px;
  margin-right: var(--default-spacing);
  &[data-rotate] {
    transform: rotate(45deg);
  }
}

.chevron > svg {
  width: 20px;
  height: 20px;
}

:where([data-mantine-color-scheme='light']) .chevron > svg {
  stroke: var(--mantine-color-black);
}

.primary {
  border-left-color: var(--asu-color-primary);
}

.secondary {
  border-left-color: var(--asu-color-secondary);
}

.tertiary {
  border-left-color: var(--asu-color-tertiary);
}

.sticky {
  position: sticky;
  background: var(--mantine-color-body);
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.icon {
  width: 16px;
  height: 16px;
}
