/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

.item {
  border-top: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-left: 0.5rem solid;
}

.control {
  padding-inline-end: 0;
}

.label {
  padding-top: 8px;
  padding-bottom: 8px;
}

.panel {
  border-right: 1px solid var(--border);
}

.content {
  border-top: 1px solid var(--border);

  padding: 0;
}

.chevron {
  width: 36px;
}

.primary {
  border-left-color: var(--asu-color-primary);
}

.secondary {
  border-left-color: var(--asu-color-secondary);
}

.tertiary {
  border-left-color: var(--asu-color-tertiary);
}

.sticky {
  position: sticky;
  background: var(--mantine-color-body);
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
