/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.right {
  position: relative;
  flex: 1;
  height: 100%;
}

.fullHeight {
  height: 100%;
}

@media screen and (max-width: 899px) {
}
