/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  position: absolute;
}

.dropdown {
  padding: calc(var(--default-spacing) / 2);
}

.dropdown > *:first-child {
  padding: var(--default-spacing);

  border: calc(0.0625rem * var(--mantine-scale)) solid var(--input-border);
  border-radius: inherit;
}
