/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

.input {
  --input-height: calc(2.625rem * 1);
  height: var(--input-height);
  padding-left: calc(var(--input-height) / 3);
  border: calc(0.0625rem * var(--mantine-scale)) solid var(--input-border);
}

.xs {
  height: 1.875rem;
  /* font-size: 0.75rem; */
}

.sm {
  height: 2.25rem;
  /* font-size: 0.875rem; */
}

.md {
  height: 2.625rem;
  /* font-size: 1rem; */
}

.lg {
  height: 3rem;
  /* font-size: 1.125rem; */
}

.xl {
  height: 3.375rem;
  /* font-size: 1.25rem; */
}

.text {
  max-width: 80%;
  flex-shrink: 1;
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.buttonWrapper {
  margin-left: auto;
}

.button svg {
  padding-top: 0.1875rem;
  margin: 0.0625rem;
}

.button.xs svg {
  width: 1.5rem;
  height: 1.5rem;
}

.button.sm svg {
  width: 1.75rem;
  height: 1.75rem;
}

.button.md svg {
  width: 2rem;
  height: 2rem;
}

.button.lg svg {
  width: 2.25rem;
  height: 2.25rem;
}

.button.xl svg {
  width: 2.5rem;
  height: 2.5rem;
}

[data-mantine-color-scheme='dark'] .button svg[data-identifier='link-copy-svg'] {
  fill: var(--mantine-color-dark-0);
}

[data-mantine-color-scheme='light'] .button svg[data-identifier='link-copy-svg'] {
  fill: var(--mantine-color-black);
}

[data-mantine-color-scheme='dark'] .button svg[data-identifier='check-svg'] {
  stroke: var(--mantine-color-dark-0);
}

[data-mantine-color-scheme='light'] .button svg[data-identifier='check-svg'] {
  stroke: var(--mantine-color-black);
}
