/**
 * Copyright 2025 Lincoln Institute of Land Policy
 * SPDX-License-Identifier: Apache-2.0
 */

.icon {
  padding: 0.3em;
}

.icon > svg {
  width: 100%;
  height: auto;
}

.root {
  box-shadow: 0px 4px 4px #00000040;
  transition: transform 0.15s ease-in-out;
}

.primary {
  stroke: #000;
  fill: #000;
  background-color: var(--asu-color-primary);
}

.secondary {
  stroke: #fff;
  fill: #fff;

  background-color: var(--asu-color-secondary);
}

.tertiary {
  stroke: #000;
  fill: #000;
  background-color: var(--asu-color-tertiary);
}

.selected {
  stroke: #fff;
  fill: #fff;
  background-color: var(--asu-color-selected);
}

.unstyled {
  stroke: var(--mantine-color-text);
  fill: var(--mantine-color-text);
  background-color: var(--mantine-color-body);
}

.root:hover:not(:disabled):not([data-disabled='true']),
.root:focus:not(:disabled):not([data-disabled='true']) {
  transform: scale(1.1);
}

.primary:hover,
.primary:active,
.primary:focus {
  background-color: var(--asu-color-primary);
}

.secondary:hover,
.secondary:active,
.secondary:focus {
  background-color: var(--asu-color-secondary);
}

.tertiary:hover,
.tertiary:active,
.tertiary:focus {
  background-color: var(--asu-color-tertiary);
}

.unstyled:hover,
.unstyled:active,
.unstyled:focus {
  background-color: var(--mantine-color-body);
}

.selected:hover,
.selected:active,
.selected:focus {
  background-color: var(--asu-color-selected);
}

.root:disabled,
.root[data-disabled='true'] {
  opacity: 0.5;
  stroke: #000;
  fill: #000;
  background-color: var(--asu-color-tertiary);
}
