# Copyright 2025 Lincoln Institute of Land Policy
# SPDX-License-Identifier: Apache-2.0

name: Push To GHCR

on:
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group:
    ${{ github.workflow }}-${{ github.ref_name }}-${{
    github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  build_and_push:
    name: "build and push backend image"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and export
        uses: docker/build-push-action@v6
        with:
          context: .
          file: pygeoapi-deployment/Dockerfile
          push: true
          tags: asu-awo-pygeoapi:latest
          cache-from: type=gha,scope=asu-awo-pygeoapi
          cache-to: type=gha,mode=max,scope=asu-awo-pygeoapi